@import "tailwindcss";

@theme {
  --color-warm-beige: #F2D3A2;
  --color-sparrow-brown: #A66A3F;
  --color-dark-brown: #2C2623;
  --color-light-bg: #FDFBF7;
}

body {
  background-color: #FDFBF7;
  color: #2C2623;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}